 
 <div ng-controller="gstrController as ctrl"> 
 <section class="subpage-header1"  class="cause-section" data-anchor="sect1"  >
		<div class="container-fluid ">
			<div class="col-md-12 ">
				<div class="panel panel-default gstrPanel" >
					<div class="panel-heading myPanelHeading" id="panelText">Download Returns</div>									
				<div class="panel-body" style="padding-top: 80px;">
				<form class="form-horizontal" role="form">
					
					<div class="form-group col-md-6">
					<div class="input-group">
												  <span class="input-group-addon"><span class="astr">*</span>Month</span>
													<select class="form-control"  >
													  <option value="">--Select--</option>
														<option>January </option>
															    <option>February </option>
															    <option>March </option>
															    <option>April</option><option>May</option>
															    <option>June</option><option>July</option>
															    <option>August</option><option>September</option>
															    <option>October</option><option>November</option><option>December</option>
													  
													</select>
												</div>		
							<!-- <label for="triggerSystem" class="col-md-4 control-label font14"  >Month</label>
							<div class="col-md-8" >
								<select class="form-control">
												    <option>January </option>
												    <option>February </option>
												    <option>March </option>
												    <option>April</option><option>May</option>
												    <option>June</option><option>July</option>
												    <option>August</option><option>September</option>
												    <option>October</option><option>November</option><option>December</option>
								</select>
							</div> -->
						</div>
						<div class="form-group col-md-6">
							 <div class="input-group">
											  <span class="input-group-addon"><span class="astr">*</span>Year</span>
													<select class="form-control"  >
													  <option value="">--Select--</option>
														<option>2016 </option>
															    <option>2017 </option>
													</select>
											</div>
							<!-- <label for="triggerSystem" class="col-md-4 control-label font14"  >Year</label>
							<div class="col-md-8" >
								<select class="form-control">
												    <option>2016 </option>
												    <option>2017 </option>
												    
								</select>
							</div> -->
						</div>
					
						<div class="form-group col-md-6">
						 <div class="input-group">
											  <span class="input-group-addon"><span class="astr">*</span>Form</span>
													<select class="form-control"  >
													  <option value="">--Select--</option>
														<option>GSTR1</option>
														<option>GSTR2</option>
														<option>GSTR3</option>
														<option>GSTR4</option>
													</select>
											</div>
							<!-- <label for="triggerSystem" class="col-md-4 control-label font14"  >Form</label>
							<div class="col-md-8" >
								<select  class="form-control" >
									<option value="">--Select--</option>
									<option>GSTR1</option>
									<option>GSTR2</option>
									<option>GSTR3</option>
									<option>GSTR4</option>
								</select>
							</div> -->
						</div>
						
						<div class="form-group col-md-6">
						 <div class="input-group">
											  <span class="input-group-addon"><span class="astr">*</span>Format</span>
													<select class="form-control" id="lastDownloadSel">
												    <option >--Select--</option>
												    <option >PDF</option>
													</select>
											</div>
							<!-- <label for="triggerSystem" class="col-md-4 control-label font14"  >Format</label>
							<div class="col-md-8" >
								<select class="form-control" id="lastDownloadSel">
												    <option >--Select--</option>
												    <option >Excel</option>
												    <option >PDF</option>
								</select>
							</div> -->
						</div>
						<!-- <div class="form-group col-md-6">
							<div class="col-md-4"></div>
							<a id="down_link" href="" class="btn btn-primary my-btn-style"   ng-click="exportAction();">SUBMIT</a>
						</div> -->
						<div class="col-md-11"></div>
											<div class="col-md-1">
													<a id="down_link" href="" class="btn btn-primary my-btn-style"   ng-click="exportAction();">SUBMIT</a>
											</div>
				</form>
			</div>
			</div>
		</div>
</section>
				