<div class="footer-clean" style="background-color:rgba(194,182,182,0.51); margin-top: 20px;">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 item">
                            <h3 style="font-size:20px;color:#1b1b1b;">About Us</h3>
                            <ul style="min-height:100%;">
                                <li><a href="#">Leadership Team</a></li>
                                <li><a href="#">Recognitions &amp; Achievement</a></li>
                                <li><a href="#">Partners </a></li>
                                <li><a href="#">Carrers </a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 item">
                            <h3 style="font-size:20px;">Quick Link</h3>
                            <ul>
                                <li><a href="#">Request for Demo</a></li>
                                <li><a href="#">Online Support</a></li>
                                <li><a href="#">Demo Center</a></li>
                                <li><a href="#">News &amp; Events</a></li>
                                <li><a href="#">FAQ </a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 item">
                            <h3>@Mastek </h3>
                            <ul>
                                <li><a href="#">Services </a></li>
                                <li>Expertise </li>
                                <li><a href="#">Corporate GST</a></li>
                                <li><a href="#">Business Solution </a></li>
                                <li><a href="#">Industry Solution</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3 item">
                            <h3>Contact US</h3>
                            <p>Millennium Business park,Odd Thane Belapur Road,Mahape Navi Mumbai 400701(India) </p>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <p> <i class="glyphicon glyphicon-earphone"></i><span>022-67914646 </span></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="article-list">
            <div class="container">
                <div class="intro"></div>
            </div>
        </div>
        <footer style="background-color:#c2baba;">
            <div class="row" style="margin-right:0px;padding-bottom:10px;padding-top:10px;margin-left: 16px;">
                <div class="col-md-8"><span><i class="glyphicon glyphicon-copyright-mark"></i> 2017 Mastek Ltd. All Rights Reserved. Privacy Statement | Terms of Use</span></div>
                <div class="col-md-4"><span style="font-size:16px;">Follow Us &nbsp;&nbsp;
               <a class="btn btn-social-icon btn-facebook  my-btn-style"
										style="background-color: #3b5998;"><span
										class="fa fa-facebook"></span></a>
              <a class="btn btn-social-icon btn-facebook  my-btn-style"
										style="background-color: #c23321;"><span
										class="fa fa-google"></span></a>
               <a class="btn btn-social-icon btn-facebook  my-btn-style"
										style="background-color: #c23321;"><span
										class="fa fa-twitter"></span></a>
				<a class="btn btn-social-icon btn-facebook  my-btn-style"
										style="background-color: #c23321;"><span
										class="fa fa-linkedin"></span></a>
                </div>
            </div>
        </footer>
        
