 <div ng-controller="gstrTemplateController as ctrl"> 
<section class="subpage-header1"  class="cause-section" data-anchor="sect1"  >
		<div class="container-fluid ">
			<div class="col-md-12 ">
				<div class="panel panel-default gstrPanel">
						<div class="panel-heading myPanelHeading" id="panelText">GSTR Templates</div>									
				<div class="panel-body" style="padding-top: 30px;">
				<form class="form-horizontal" role="form" style="font-size: 15px;">
					<a href="../excel/GSTR1_Template_main.xlsx" target="_blank">Download GSTR1 Template</a><br/>
					<a  href="">Download GSTR2 Template</a><br/>
					<a href="">Download GSTR3 Template</a><br/>
					<a  href="">Download GSTR4 Template</a><br/>
					<a  href="">Download GSTR5 Template</a><br/>
				</form>
			</div>
			</div>
		</div>
</section>
</div>

