<div ng-controller="newHomeController">
<div class="carousel slide" data-ride="carousel" id="carousel-1">
	<div class="carousel-inner" role="listbox" >
		<div class="item active" >
			<img src="img/banner_animation.jpg" alt="Slide Image">
		</div>
		<div class="item banner-img-style">
			<img src="img/banner-07.jpg" alt="Slide Image">
		</div>
		<div class="item banner-img-style">
			<img src="img/banner_animation2.jpg" alt="Slide Image">			
		</div>
	</div>
	<div>
		<a class="left carousel-control" href="#carousel-1" role="button"
			data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i><span
			class="sr-only">Previous</span></a> <a class="right carousel-control"
			href="#carousel-1" role="button" data-slide="next"><i
			class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a>
	</div>
	<ol class="carousel-indicators">
		<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-1" data-slide-to="1"></li>
		<li data-target="#carousel-1" data-slide-to="2"></li>
	</ol>
</div>
<div class="row panel-first">
	<div class="col-md-4 col-sm-4">
		<div class="panel panel-default panel-first-default">
			<div class="panel-heading panel-first-heading">
				<img src="img/block_a.png" alt="Slide Image"
					class="panel-first-img-icon"><br />
				<h3 class="text-center panel-title">Expert on GST</h3>
			</div>
			<div class="panel-body">
				<span class="more">Mastek has successful implementation track record in Maharashtra Sales Tax, Odisha Sales Tax and Chhattisgarh Sales Tax departments. This application is a reliable and responsive software application which automates various functions of Sales Tax department.</span>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-4">
		<div class="panel panel-default panel-first-default">
			<div class="panel-heading panel-first-heading">
				<img src="img/block_b.png" alt="Slide Image"
					class="panel-first-img-icon"><br />
				<h3 class="text-center panel-title">Focused on GSP</h3>
			</div>
			<div class="panel-body">
				<span class="more">Mastek qualified as a GST Suvidha Provider by GSTN for implementing GST across the country. With its strong presence in IT sectors over last 34 years, Mastek has developed a scalable and robust GSP/ASP platform for tax payer/tax consultant.</span>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-4">
		<div class="panel panel-default panel-first-default">
			<div class="panel-heading panel-first-heading">
				<img src="img/block_c.png" alt="Slide Image"
					class="panel-first-img-icon"><br />
				<h3 class="text-center panel-title">GST Portal</h3>
			</div>
			<div class="panel-body">
				<span class="more">A robust one stop solution for smooth transition of businesses to GST with highly reliable, easy to use and scalable technology. It Facilitate smooth transition of the Tax payers discrete systems in to a uniform Portal with seamless reconciliation, compliance, return filing etc.</span>
			</div>
		</div>
	</div>
</div>

<div class="row forth-div">
	<div class="col-md-12" style="color: #6b6b6b;">
		<span style="font-size: 26px;">Why Mastek for GST?</span>
	</div>
</div>
<div class="article-list fifth-div">
	<div class="container">
		<div class="row articles">
			<div class="col-md-3 col-sm-6 item"> 
				<a href="#"><img class="img-responsive firstDiv-image-style"  src="img/taxExpert.jpg"></a>
				<h3 class="name">Enterprise Application Specialist</h3>
				<p class="description more1">We specialize in building, re-engineering, maintaining and managing enterprise grade business applications for the insurance and government sectors. </p>
				<a href="#" class="action"><i
					class="glyphicon glyphicon-circle-arrow-right"></i></a>
			</div>
			<div class="col-md-3 col-sm-6 item" id="first-img">
				<a href="#"><img class="img-responsive firstDiv-image-style"  src="img/Agile.png"></a>
				<h3 class="name">Power of Agile</h3>
				<p class="description more1" >Trusted partner for Agile based programs. Mastek helps enterprises test, build and deploy flawless automation into their business critical systems and processes. </p>
				<a href="#" class="action"><i
					class="glyphicon glyphicon-circle-arrow-right"></i></a>
			</div>
			<div class="col-md-3 col-sm-6 item" id="item">
				<a href="#"><img class="img-responsive firstDiv-image-style"   src="img/Mastek-award.jpg" ></a>
				<h3 class="name">OST Award</h3>
				<p class="description more1" >2011 Our customer, Commercial Tax Department, Government of Odisha, won the jury award for 'The Best Project under the Government to Business (G2B)...</p>
				<a href="#" class="action"><i
					class="glyphicon glyphicon-circle-arrow-right"></i></a>
			</div>
			<div class="col-md-3 col-sm-6 item">
				<a href="#"><img class="img-responsive firstDiv-image-style" src="img/images.jpg"></a>
				<h3 class="name">Customer Intimacy</h3>
				<p class="description more1">Mastek aligns itself with stakeholders vision through an intense awareness process. Customer intimacy is achieved through careful listening..</p>
				<a href="#" class="action"><i
					class="glyphicon glyphicon-circle-arrow-right"></i></a>
			</div>
		</div>

	</div>
</div>

<div class="row second-div-label">
	<div class="col-md-12">
		<span style="font-size: 26px; color: #0078d7;">We expert in
			GST?</span>
	</div>
</div>
<div class="row third-div">
	<div class="col-md-3 col-sm-6" style="padding-top: 9px;">
		<ul style="font-size: 18px;" class="expert-ul">
			<li class="li1"><a href="">Our Case Study</a></li>
			<li class="li2"><a href="">Latest Update</a></li>
			<li class="li3"><a href="">Expertise on GST</a></li>
			<li class="li4"><a href="">Visual Demo</a></li>
		</ul>
	</div>
	<div class="col-md-3 col-sm-6 item">
		<a href="#"><img class="img-responsive" src="img/casestudy1.jpg"></a>
		<h3 class="name">Maharashtra Sales Tax</h3>
		<p class="description more3">Mastek has implemented the application called 'Mahavikas' for Maharashtra commercial tax which is a window between the Dealer and the Sales Tax Department.</p>
		<a href="#" class="action"><i
			class="glyphicon glyphicon-circle-arrow-right"></i></a>
	</div>
	<div class="col-md-3 col-sm-6 item">
		<a href="#"><img class="img-responsive" src="img/casestudy3.jpg"></a>
		<h3 class="name">e-Municipality </h3>
		<p class="description more3">Ushering a new era of e-Governance reforms in local urban governance as per the Jawaharlal Nehru National Urban Renewal Mission guidelines. </p>
		<a href="#" class="action"><i
			class="glyphicon glyphicon-circle-arrow-right"></i></a>
	</div>
	<div class="col-md-3 col-sm-6 item">
		<a href="#"><img class="img-responsive" src="img/casestudy2.jpg"></a>
		<h3 class="name">Benefit Transfer System</h3>
		<p class="description more3">Mastek's Direct Benefit Transfer System Suite makes Government Social Welfare Initiatives more effective through innovative information and communication technology.</p>
		<a href="#" class="action"><i
			class="glyphicon glyphicon-circle-arrow-right"></i></a>
	</div>
</div>

<div class="row video-div">
	<div class="col-md-12">
		<span> </span>
		<div class="row">
			<div class="col-md-9 col-sm-6">
				<span style="font-size: 22px;">Success Stories</span>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 col-sm-4 item">
						<iframe class="embed-responsive-item"
							src="https://www.youtube.com/embed/br0R2thgHkQ?rel=0"></iframe>
						<h3 class="name">Time to market improvement in bidding leading to 67% bid wins for Cox & Kings</h3>
						<p class="description">Learn how Mastek helped Cox & Kings a large travel multinational company with a end to end technology solution for visa process outsourcing.</p>
					</div>
					<div class="col-md-4 col-sm-4 item">
						<iframe class="embed-responsive-item"
							src="https://www.youtube.com/embed/R_qamDnCT58?rel=0"></iframe>
						<h3 class="name">System maintenance for an online hotel booking company</h3>
						<p class="description">Learn how Mastek helped an online hotel booking company with latest technologies and expertise for their portal.</p>
					</div>
					<div class="col-md-4 col-sm-4 item">
					<iframe class="embed-responsive-item"
							src="https://www.youtube.com/embed/SYhNT5wfOhg?rel=0"></iframe>
						<h3 class="name">Gary Bowels says " Mastek Never Lets You Down"</h3>
						<p class="description">Gary Bowels a mastek customer talks about his experience on working with Mastek.</p>
					</div>
					
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<span style="font-size: 22px;">News &amp; Events</span>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-12 col-sm-12" style="margin-bottom: 7px;">
						<ul style="margin-bottom: 0px; font-size: 18px;" class="news-Ul">
							<div class="newsLi" align="center">
							<img src="img/news4.jpg" style="width: 50px;">
								<!-- 216<br />
								<span>Shares</span> -->
							</div>
							<li>GST, India's Biggest Tax Reform, Now Closer To July Rollout</li>
							<div class="newsLi" align="center">
							<img src="img/news3.jpg" style="width: 50px;">
								<!-- 350<br />
								<span>Shares</span> -->
							</div>
							<li>Lok Sabha Passes Bill To Make Excise, Customs Acts Compliant With GST</li>
							<div class="newsLi" align="center">
							<img src="img/news2.jpg" style="width: 50px;">
								<!-- 15<br />
								<span>Shares</span> -->
							</div>
							<li>Finance Ministry Seeks Public Comments On GST Rules</li>
							<div class="newsLi" align="center">
							<img src="img/news1.jpg" style="width: 50px;">
								<!-- 112<br />
								<span>Shares</span> -->
							</div>
							<li>Service Tax Rate To Rise From 15% To 18% Under GST</li>
							<div class="newsLi" align="center">
							<img src="img/news5.jpg" style="width: 50px;">
								<!-- 112<br />
								<span>Shares</span> -->
							</div>
							<li>GST Reform Nears Fruition As Rajya Sabha Clears Key Legislations</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
